*.swp
*.swo
.DS_Store
node_modules
pi_finder/build
pi_finder/src/*.zip
pi_finder/src/*.gz

# debs we build on the fly
packages/build/occi_*.deb
packages/build/occidentalis_*.deb

# generated man pages - see packages/Makefile
packages/occi/usr/share/man/man1/*.gz
packages/occidentalis/usr/share/doc/occidentalis/changelog.gz
packages/occi/usr/share/doc/occi/changelog.gz
