body {
  background: #000;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

img {
  display: block;
  width: 200px;
  margin: 30px auto;
}

.button {
  text-align: center;
  box-sizing: border-box;
  display: block;
  height: 29px;
  text-decoration: none;
  width: 60%;
  perspective-origin: 51px 14.5px;
  transform-origin: 51px 14.5px;
  background: rgb(0, 172, 236);
  font-size: 16px;
  margin: 0px auto;
  padding: 6px 10px;
  cursor: pointer;
}

#connect, #shutdown {
  margin-top: 10px;
  width: 48%;
  float: left;
}

#shutdown {
  float: right;
  background: #d9534f;
}

#bootstrap {
  margin: 10px auto 0 auto;
  width: 100%;
  background: #68ac3b;
}

#find {
  margin-top: 10px;
}

#status {
  display: block;
  text-align: center;
  width: 90%;
  margin: 20px auto 0 auto;
  font-size: 12px;
}

.hide {
  display: none !important;
}

#ssh, #options {
  display: block;
  width: 45%;
  float:left;
  padding: 0 10px;
}

#align {
  height: 28px;
}
.clear {
 clear: both;
}

#terminal {
  text-align: left;
  width: 100%;
  color: #00CC00;
  font-size: 10px;
}

#terminal span.error {
  color: #EE0000;
}

label {
  display: block;
  width: 100%;
  font-size: 10px;
  margin-top: 10px;
}

input {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.check {
  text-align: left;
}

.check input {
  display: inline;
  width: auto;
}

.group {
  width: 100%;
}

.host, .port {
  display: block;
}

.host {
  width: 70%;
  float: left;
}

.port {
  width: 22%;
  float: right;
}
